.navbar .navbar-brand, .navbar .nav-item .nav-link {
    color: #0072D3;
    
}


.nav-link{
    color: #333;
}

.navbar .navbar-brand:hover{
    color: #0072D3;
}

.navbar .navbar-toggler{
    border: none;
}

.header__img {
    width: 100%;
}


.contact__title1 {
    position: relative;
    margin-top: 10%;
    text-align: center;
}
.contact__title1::before {
    content: "";
    position: absolute;
    width: 15%;
    height: 4px;
    background: #0072D3;
    left: 43%;
    top: 200%;
}
.contact__p1 {
    margin-top: 15%;
}
.contact__title2 {
    position: relative;
    margin-top: 10%;
    text-align: center;
}
.contact__title2::before {
    content: "";
    position: absolute;
    width: 15%;
    height: 4px;
    background: #0072D3;
    left: 43%;
    top: 200%;
}

.contact__p2 {
    margin-top: 25%;
}
.contact__input {
    
    margin-bottom: 5%;
    padding: 10px 0 5px 0;
}
.contact__button {
    color: white;
    background: orange;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    margin-left: 55%;
    margin-top: 5%;
}
.contact__symbol {
    display: none;
}
.map {
    margin-top: 20%;
    
}




























/* footer */
.footer {
    background: black;
    margin-top: -2%;
    padding-top: 40px;
    padding-bottom: 5px;
}

.footer__box {
    margin-top: 15%;
}
.footer__h5 {
    color: white;
}
.footer__add {
    color: white;
    font-size: 80%;
}
.footer__ul {
    margin-left: -30px;
}
.footer__ul-li {
    list-style: none;
    color: white;
    font-size: 80%;
}
.footer__p {
    color: white;
    font-size: 80%;
}
.footer__form {
    border-radius: 5px;
    border-bottom: white solid 2px;
}
.footer__form-input {
    background-color: black;
    border: none;
    outline: none;
    
}
.footer__form-button {
    border: none;
    border-radius: 2px;
    margin-left: 30%;
}
.footer__end {
    color: white;
    text-align: center;
}





/* tablet */
@media only screen and (min-width: 768px) {
    .navbar .navbar-brand {
        color: #FFF;
    }
    .navbar .nav-item .nav-link, .nav-link {
        color: #FFF;
    }
    .navbar .nav-item .nav-link:hover, .nav-link:hover{
        color:orange;
    }
    .navbar .navbar-brand:hover{
        color: #FFF;
    }
    .navbar {
        background: #0072D3;
    }
    .navbar .nav-item .active {
        color: orange !important;
    }

    .container-fluid{
        width: 90%;
    }
    .contact__button {
        margin-left: 75%;
    }
    .contact__symbol {
        display: contents;
    }
    .footer__form-button {
        margin-left: 65%;
    }

}
/* laptop */
@media only screen and (min-width: 1024px) {
    .container-fluid{
        width: 70%;
    }
    
    .navbar .navbar-brand {
        color: #FFF;
    }
    .navbar .nav-item .nav-link, .nav-link {
        color: #FFF;
    }
    .navbar .nav-item .nav-link:hover, .nav-link:hover{
        color:orange;
    }
    .navbar .navbar-brand:hover{
        color: #FFF;
    }
    .navbar {
        background: #0072D3;
    }
     /* navbar menu */
     .navbar-nav {
        height: 82px;
    }
    .nav-item {
        padding-top: 30px;
    }
    .nav-item:hover {
        border-bottom: solid 2px;
        color: orange;
        height: 90px;
    }
    .box-icon {
        height: 82px;
    }
    .link-icon {
        padding-top: 37px;
    }
    .link-icon:hover {
        border-bottom: solid 2px;
        color: orange;
        height: 90px;
    }
    .container__contact {
        width: 100%;
    }

    .contact__title1{
        margin-top: 9%;
    }
    .contact__p1 {
        margin-top: 15%;
    }
    .contact__p2 {
        margin-top: 15%;
    }
    .footer__form-button {
        margin-left: 82%;
    }
}