.navbar .navbar-brand, .navbar .nav-item .nav-link {
    color: #0072D3;
    
}


.nav-link{
    color: #333;
}

.navbar .navbar-brand:hover{
    color: #0072D3;
}

.navbar .navbar-toggler{
    border: none;
}
.container-fluid {
    width: 90%;
}

.header__img {
    width: 100%;
}

.nav-item {
    color: black;
}
.img__new1 {
    margin-top: 15%;
    border: solid 1px gray ;
    
}
.img__new1 img {
    width: 100%;
}
.img__new2 {
    margin-top: 5%;
    border: solid 1px gray;
}
.img__new2 img {
    width: 100%;
}
.img__new3 {
    margin-top: 5%;
    border: solid 1px gray;
}
.img__new3 img {
    width: 100%;
}
.news__head {
    background:#0072D3 ;
    padding: 20px 0 20px 0;
    color: white;
    text-align: center;
    margin-top: 20%;
    font-size: 22px;
    
}
.news__img1 {
    display: flex;
    justify-content: space-between;
    background: #F9F9F9;
    padding: 5% 0 5% 0;
    border-bottom: solid 0.5px gray;
}
.news__img1 img {
    width: 35%;
}
.news__text1 {
    text-align: left;
    margin-left: 5%;
    font-size: 20px;
    font-weight: 500;
}
.news__img2 {
    display: flex;
    justify-content: space-between;
    background: #F9F9F9;
    padding: 5% 0 5% 0;
    border-bottom: solid 0.5px gray;
}
.news__img2 img {
    width: 35%;
}
.news__text2 {
    text-align: left;
    margin-left: 5%;
    font-size: 20px;
    font-weight: 500;
}
.news__img3 {
    display: flex;
    justify-content: space-between;
    background: #F9F9F9;
    padding: 5% 0 5% 0;
    border-bottom: solid 0.5px gray;
}
.news__img3 img {
    width: 35%;
}
.news__text3 {
    text-align: left;
    margin-left: 5%;
    font-size: 20px;
    font-weight: 500;
}
.news__img4 {
    display: flex;
    justify-content: space-between;
    background: #F9F9F9;
    padding: 5% 0 5% 0;
    border-bottom: solid 0.5px gray;
}
.news__img4 img {
    width: 35%;
    
}
.news__text4 {
    text-align: left;
    margin-right: 30%;
    font-size: 20px;
    font-weight: 500;
}
.news__img5 {
    display: flex;
    justify-content: space-between;
    background: #F9F9F9;
    padding: 5% 0 5% 0;
    border-bottom: solid 0.5px gray;
}
.news__img5 img {
    width: 35%;
}
.news__text5 {
    text-align: left;
    margin-right: 30%;
    font-size: 20px;
    font-weight: 500;
}
.news__npp {
    margin-left: 7px;
}
.footer {
    background: black;
    margin-top: 20%;
    padding-top: 40px;
    padding-bottom: 5px;
}

.footer__box {
    margin-top: 15%;
}
.footer__h5 {
    color: white;
}
.footer__add {
    color: white;
    font-size: 80%;
}
.footer__ul {
    margin-left: -30px;
}
.footer__ul-li {
    list-style: none;
    color: white;
    font-size: 80%;
}
.footer__p {
    color: white;
    font-size: 80%;
}
.footer__form {
    border-radius: 5px;
    border-bottom: white solid 2px;
}
.footer__form-input {
    background-color: black;
    border: none;
    outline: none;
    
}
.footer__form-button {
    border: none;
    border-radius: 2px;
    margin-left: 80%;
}
.footer__end {
    color: white;
    text-align: center;
}
.news{
    margin-left: 0;
}





/* tablet */
@media only screen and (min-width: 768px) {
    .navbar .navbar-brand {
        color: #FFF;
    }
    .navbar .nav-item .nav-link, .nav-link {
        color: #FFF;
    }
    .navbar .nav-item .nav-link:hover, .nav-link:hover{
        color:orange;
    }
    .navbar .navbar-brand:hover{
        color: #FFF;
    }
    .navbar {
        background: #0072D3;
    }
    .container-fluid{
        width: 90%;
    }
    .navbar .nav-item .active {
        color: orange !important;
    }

    .img__new1 {
        margin-top: 5%;
    }
    .news__text2 {
        margin-right: 20%;
    }
    .news__text4 {
        margin-right: 45%;
    }
    .news__text5 {
        margin-right: 45%;
    }
    .footer__form-button {
        margin-left: 90%;
    }
}
/* laptop */
@media only screen and (min-width: 1024px) {
    .container-fluid{
        width: 70%;
    }
    
    .navbar .navbar-brand {
        color: #FFF;
    }
    .navbar .nav-item .nav-link, .nav-link {
        color: #FFF;
    }
    .navbar .nav-item .nav-link:hover, .nav-link:hover{
        color:orange;
    }
    .navbar .navbar-brand:hover{
        color: #FFF;
    }
    .navbar {
        background: #0072D3;
    }
    /* navbar menu */
    .navbar-nav {
        height: 82px;
    }
    .nav-item {
        padding-top: 30px;
    }
    .nav-item:hover {
        border-bottom: solid 2px;
        color: orange;
        height: 90px;
    }
    .box-icon {
        height: 82px;
    }
    .link-icon {
        padding-top: 37px;
    }
    .link-icon:hover {
        border-bottom: solid 2px;
        color: orange;
        height: 90px;
    }
    .news__roll {
        margin-top: 0;
    }
    .news{
        margin-top: 3.2%;
    }
    .news__text4 {
        margin-right: 27%;
    }
    .news__text5 {
        margin-right: 27%;
    }
    .footer__form-button {
        margin-left: 79%;
    }
    
}